<div id="score">
  <%= number_to_percentage(@user_stats.percentage, precision: 1) %>
  <hr/>
  <%= @user_stats.correct %> / <%= @user_stats.completed %>
</div>

<h1>
  <%= @round.label %> : <%= @user_stats.completed + 1 %> / <%= @user_stats.total %>
  <div id="result-bar">
    <% @round.answered_questions(current_user).each do |answer| %>
      <div class="result-box <%= answer.option.correct? ? "" : "in" %>correct"> 
      </div>
    <% end %>
    <% (@round.questions.count - @round.answered_questions(current_user).length).times do |i| %>
      <div class="result-box remaining <%= i == 0 ? "current" : "" %>">
      </div>
    <% end %>
  </div>
</h1>

<p id="question">
  <%= @question.prompt %>
</p>

<% if @question.answered?(current_user) %>

  <p><%= next_round_link(current_user) %></p>

  <ul id="answers">
  <% @question.options.each do |option| %>
    <li class="<%= option.correct ? "" : "in"%>correct">
      <%= option.prompt %>
    </li>
  <% end %>
  </ul>

<% else %>

  <ul id="answers">
  <% found = false %>
  <% @question.options.shuffle.each do |option| %>

    <% if !found && !option.correct %>
      <% found = true %>
      <% extra_class = "default-choice" %>
    <% else %>
      <% extra_class = "" %>
    <% end %>

    <li class="option <%= extra_class %>" id="option-<%= option.id %>">
      <%= link_to option.prompt, question_answer_path(question_id: @question.id, answer_id: option.id) %>
    </li>
  <% end %>

  </ul>
<div id="timer"></div>
<% end %>
