<table>
  <tr>
    <th>User</th>
    <th>Rank</th>
    <% if @stats.first.try(:rounds_completed) %>
      <th>Rounds Completed</th>
    <% end %>
    <th>Percentage</th>
    <th>Avg Time</th>
  </tr>

  <% @stats.each do |user_stat| %>
    <tr class="user">
      <td class="username">
        <%= user_stat.username %>
      </td>

      <td class="rank">
        <%= user_stat.rank %>
      </td>

      <% if user_stat.rounds_completed %>
        <td class="rounds_completed">
          <%= user_stat.rounds_completed %>
        </td>
      <% end %>

      <td class="percent">
        <%= user_stat.percentage %>%
      </td>

      <td class="time">
        <%= user_stat.duration.round(2) %>s
      </td>
    </tr>
  <% end %>

</table>
