<% if signed_in? %>
  <h1>Leaderboard</h1>

  <p><%= next_round_link(current_user) %></p>
  <p id="other_game">
    <% Game.all.each do |game| %>
      <% if game.id != @game.id %>
        <%= link_to "Try #{game.title}", game_path(game) %>
      <% end %>
    <% end %>
  </p>

  <%= render "shared/results_table" %>

<% else %>
  <h1>Welcome</h1>
  <div id="welcome">
    <%= image_tag(asset_path('question_mark.jpg')) %>
    <p>
      Rules
      <ul>
        <li>10 questions per round</li>
        <li>10 seconds per question</li>
        <li>Multiple Choice</li>
        <li>Highest percentage wins</li>
        <li>Ties broken on time</li>
      </ul>
    </p>
    <p>
      <%= link_to "Sign In", new_user_session_path(:game_id => @game.id) %>
    </p>
    <p>
      <%= link_to  "Sign Up", new_user_registration_path(:game_id => @game.id) %>
    </p>
  </div>
<% end %>
